# ------------------GENERAL AV PATHS----------------------
# --- Mezzanine Server Configuration ---
# A comma-separated list of your network volume paths
MEZZ_SERVERS="/Volumes/mezzanine_1,/Volumes/mezzanine_2,/Volumes/mezzanine_3,/Volumes/mezzanine_4,/Volumes/mezzanine_5"

# --- Magic Wand Script Configuration ---
# These should be on the external RAID hard drive
WAND_TOP_DIR="magic-wand/"
WAND_LOG_FILE="/magic-wand-log.txt"

# --- Screener Generation Configuration ---
# Used by both film and video screener scripts for output, watermarks, and timecodes
SCREENER_DEST_DIR="/path/"
BMA_WATERMARK_PATH="/path/to/watermark.png"
TIMECODE_FONT_PATH="/path/to/font.ttc"

# --- Video Clipping Script Configuration ---
CLIP_DEST_DIR="/path/"

# --- Audio Conversion Configuration ---
# The folder where converted MP3s will be saved
MP3_OUTPUT_DIR="/path/to/output"


# ------------------DIGIPRES PATHS----------------------
# You won't need these unless running files from digipres subfolder

# Base directory where MediaInfo XML files should be saved
LOCAL_MEDIAINFO_FOLDER="/PATH/WHERE/YOU/WANT/MEDIAINFO/TO/GO"

# --- Java Transformation Tools ---
# The absolute path to your ca-dig-obj.xsl stylesheet
XSL_STYLESHEET_PATH="/PATH/TO/XSL/STYLESHEET"

# The absolute path to your Saxon jar file
SAXON_JAR_PATH="/PATH/TO/SAXON.jar"