# -------------------------------------------
#          GENERAL AV TECH PATHS
# -------------------------------------------

# --- Mezzanine Server Configuration ---
# A comma-separated list of your network volume paths

MEZZ_SERVERS="/Volumes/mezzanine_1,/Volumes/mezzanine_2,/Volumes/mezzanine_3,/Volumes/mezzanine_4,/Volumes/mezzanine_5"

# --- Magic Wand Script Configuration ---
# These should be on the external RAID hard drive

WAND_TOP_DIR=
WAND_LOG_FILE=
#    ^^^ standard name is magic-wand-log.txt

# --- Screener Generation Configuration ---
# Used by both film and video screener scripts for output, watermarks, and timecodes

SCREENER_DEST_DIR=
BMA_WATERMARK_PATH=
TIMECODE_FONT_PATH=

# --- Video Clipping Script Configuration ---

CLIP_DEST_DIR=

# --- Audio Conversion Configuration ---

# The folder where converted MP3s will be saved
MP3_OUTPUT_DIR=

# -------------------------------------------
#                  DIGIPRES PATHS
# -------------------------------------------

# You won't need these unless running files from digipres subfolder

# Base directory where MediaInfo XML files should be saved

LOCAL_MEDIAINFO_DIR=

# --- Java Transformation Tools ---
# The absolute path to your ca-dig-obj.xsl stylesheet

XSL_STYLESHEET_PATH=

# The absolute path to your Saxon jar file
SAXON_JAR_PATH=